body {margin:0;font-family:Arial}

header.topnav {
  overflow: hidden;
  background-color: #1c1c1c00;
  
}
.topnav a{
  margin-right: 25px;
}
header .topnav .pages{
  color: goldenrod;
  font-size: 25px;
}
.card h4{
  color: goldenrod;
}
header.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



header.topnav .icon {
  display: none;
}

.footer{
  color: black;
  font-size: 20px;
  
}
.card-footer{
  font-size: 15px;
}
.d-flex a{
  text-decoration: none;
  color: black;
}
.fc a:hover {
  margin-left: -10px;
  color: goldenrod;
  transition: 0.5s;
}
.social-links{
  font-size: 25px;
}

header .topnav .pages:hover{
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  header.topnav .topnav.responsive {position: relative;}
  header.topnav .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  header.topnav.responsive .dropdown {float: none;}
  header.topnav.responsive .dropdown-content {position: relative;}
  header.topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .footer{
  text-align: center;
  align-items: center;

  }
  .map{
    width: 90%;
    align-items: center;
    border:1px solid #1c1c1cee;
    border-radius:10px;

  }


}
@media screen and (min-width: 600px) {
  .icon{
    display: none;
  }
}